# .env.example
MONGODB_URI=mongodb://localhost:27017/urlshortener
PORT=4000
BASE_URL=http://localhost:4000
LOGGING_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVC39.eyJNYXBDbGFpbXMiOnsiZXhwIjoxNzQzNTc@M:QeL CJpYXQ1OjE3NDM1NzQwNDQsImlzcyI6IkFmZm9yZG11ZCIsImp@a5I6ImQ5Y2JiNjk5LTZHMjctNDRh NS04ZDU5LThiMWJ1ZmE4MTZkYSIsInN1YiI6InJhbWtyaXNobmFAYWJjLmVkdSJ9LCJ1bWFpbCI6In3 hbWtyaXNobmFAYWJjLmVkdSIsIm5hbWUi0iJyYW@ga3Jpc2huYSIsInJvbGx0byI6ImFhMWJiIiwiYW NjZXNzQ29kZSI6InhnQXNOQyIsImNsaWVudElEIjoiZD1jYmI2OTktNmEyNy@@NGE1LThkNTktOGIXY mVmYTgxNmRhIiwiY2xpZW5@U2VjcmV0IjoidFZKYWFhUkJTZVhjU1h1TS39.YApD98gqBIN_0ww7JMf muUfK1m4hLTm7AIcLDCLAzVg